<div class="jumbotron">
  <h1 class="display-4">Below are the List of  Book Instances</h1>
  <p class="lead">You can view update and delete the book instance!!!.</p>
  <hr class="my-4">
        <table class="table table-dark">
  <thead>
    <tr>
      
      <th scope="col">BookInstance Name</th>
       <th scope="col">Imprint</th>
        <th scope="col">Status</th>
        <th scope="col">Due-Date</th>
      <th scope="col">Update BookInstance</th>
      <th scope="col">Delete BookInstance</th>
    </tr>
  </thead>
  <tbody>
        {{#each data}}
    <tr>
      
      <td><h5><a class = "text-success" href = {{this.url}}>{{this.book.title}}</a></h5></td>
      <td><h5>{{this.imprint}}</h5></td>
        {{#if this.Available}}
               
                   <td><h5><span class="text-success">{{this.status}}</span></h5></td>
                   <td>-</td>  
{{else if this.Maintenance}}
   <td><h5><span class="text-danger">{{this.status}}</span></h5>   </td>
   <td><h5>{{this.due_back_formatted}}</h5></td>
 
{{else}}
     <td><h5><span class="text-warning">{{this.status}}</span></h5> </td>
    <td><h5>{{this.due_back_formatted}}</h5></td>
    
{{/if}}
     
      <td><a class = "btn btn-success" href = {{this.updateUrl}}>UpdateBookInstance</a></td>
      <td><a  class = "btn btn-danger" href ={{this.fullUrl}}>Delete BookInstance</a></td>
    </tr>
    <tr>
       {{/each}}
  </tbody>
</table>
</div>