<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Local Library</h1>
    <p class="lead">Below are the complete detail History of our library books!!</p>
    <h4>Books <span class="badge badge-primary">{{data.book_count}}</span></h4>
    <h4> Copies <span class="badge badge-primary">{{data.book_instance_count}}</span></h4>
    <h4>Copies Available<span class="badge badge-primary">{{data.book_instance_available_count}}</span></h4>
    <h4>Authors <span class="badge badge-primary"> {{data.author_count}}</span></h4>
    <h4>Geners <span class="badge badge-primary">{{data.genre_count}}</span></h4>
  </div>
</div>